/*
.amazon-button a {
  width: 200px;
  height: 50px;
  padding: 5px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  background-color: rgba(#FFAB9D,0.5);
  border-radius:25px;
  color: black;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.amazon-button a:hover {
 background-color: #FFAB9D;
 text-decoration: none;
 color: black;
} */


/*subscribe btn*/
.subscribe button {
     position: relative;
     display: inline-block;
     cursor: pointer;
     outline: none;
     border: 0;
     vertical-align: middle;
     text-decoration: none;
     background: transparent;
     padding: 0;
     font-size: inherit;
   }
   button.btn {
     width: 12rem;
     height: auto;
   }
   button.btn .circle {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: relative;
     display: block;
     margin: 0;
     width: 3rem;
     height: 3rem;
     background: #07123A;
     border-radius: 1.625rem;
   }
   button.btn .circle .icon {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto;
     background: #fff;
   }
   button.btn .circle .icon.arrow {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     left: 0.625rem;
     width: 1.125rem;
     height: 0.125rem;
     background: none;
   }
   button.btn .circle .icon.arrow::before {
     position: absolute;
     content: '';
     top: -0.25rem;
     right: 0.0625rem;
     width: 0.625rem;
     height: 0.625rem;
     border-top: 0.125rem solid #fff;
     border-right: 0.125rem solid #fff;
     -webkit-transform: rotate(45deg);
             transform: rotate(45deg);
   }
   button.btn .button-text {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 0.75rem 0;
     margin: 0 0 0 1.85rem;
     color: #07123A;
     font-weight: 700;
     line-height: 1.6;
     text-align: center;
     text-transform: uppercase;
   }
   button:hover .circle {
     width: 100%;
   }
   button:hover .circle .icon.arrow {
     background: #fff;
     -webkit-transform: translate(1rem, 0);
             transform: translate(1rem, 0);
   }
   button:hover .button-text {
     color: #fff;
}

.purchase button {
     position: relative;
     display: inline-block;
     cursor: pointer;
     outline: none;
     border: 0;
     vertical-align: middle;
     text-decoration: none;
     background: transparent;
     padding: 0;
     font-size: inherit;
   }
   button.btn {
     width: 12rem;
     height: auto;
   }
   button.btn .circle {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: relative;
     display: block;
     margin: 0;
     width: 3rem;
     height: 3rem;
     background: #07123A;
     border-radius: 1.625rem;
   }
   button.btn .circle .icon {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto;
     background: #fff;
   }
   button.btn .circle .icon.arrow {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     left: 0.625rem;
     width: 1.125rem;
     height: 0.125rem;
     background: none;
   }
   button.btn .circle .icon.arrow::before {
     position: absolute;
     content: '';
     top: -0.25rem;
     right: 0.0625rem;
     width: 0.625rem;
     height: 0.625rem;
     border-top: 0.125rem solid #fff;
     border-right: 0.125rem solid #fff;
     -webkit-transform: rotate(45deg);
             transform: rotate(45deg);
   }
   button.btn .button-text {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 0.75rem 0;
     margin: 0 0 0 1.85rem;
     color: #07123A;
     font-weight: 700;
     line-height: 1.6;
     text-align: center;
     text-transform: uppercase;
   }
   button:hover .circle {
     width: 100%;
   }
   button:hover .circle .icon.arrow {
     background: #fff;
     -webkit-transform: translate(1rem, 0);
             transform: translate(1rem, 0);
   }
   button:hover .button-text {
     color: #fff;
}

.purchase form {
     position: relative;
     display: inline-block;
     cursor: pointer;
     outline: none;
     border: 0;
     vertical-align: middle;
     text-decoration: none;
     background: transparent;
     padding: 0;
     font-size: inherit;
   }
   form.btn {
     width: 12rem;
     height: auto;
   }
   form.btn .circle {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: relative;
     display: block;
     margin: 0;
     width: 3rem;
     height: 3rem;
     background: #07123A;
     border-radius: 1.625rem;
   }
   form.btn .circle .icon {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto;
     background: #fff;
   }
   form.btn .circle .icon.arrow {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     left: 0.625rem;
     width: 1.125rem;
     height: 0.125rem;
     background: none;
   }
   form.btn .circle .icon.arrow::before {
     position: absolute;
     content: '';
     top: -0.25rem;
     right: 0.0625rem;
     width: 0.625rem;
     height: 0.625rem;
     border-top: 0.125rem solid #fff;
     border-right: 0.125rem solid #fff;
     -webkit-transform: rotate(45deg);
             transform: rotate(45deg);
   }
   form.btn .button-text {
     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 0.75rem 0;
     margin: 0 0 0 1.85rem;
     color: #07123A;
     font-weight: 700;
     line-height: 1.6;
     text-align: center;
     text-transform: uppercase;
   }
   form:hover .circle {
     width: 100%;
   }
   form:hover .circle .icon.arrow {
     background: #07123A;
     -webkit-transform: translate(1rem, 0);
             transform: translate(1rem, 0);
   }
