.site-header {
  min-height: 56px;
  width: $container-width;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
}
@media (max-width: $container-width) {
  .site-header {
      min-height: 56px;
      width: 95vw;
      position: fixed;
      background-color: white;
      box-shadow: 0 5px 6px -6px #bbb;
      z-index: 100;
  }
}
.site-header a {
  text-decoration: none;
}
.site-title {
  font-size: 38px;
  font-weight: 900;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
  font-family: 'Caveat', cursive;
}

.menu-list {
  line-height: $header-thickness;
  float: right;

}
.menu-link {
  padding: 5px 10px;
}

.menu-list a:hover {
    color: #666666;
}

.social-menu-link {
  line-height: $header-thickness;
  float: right;
  position: relative;
  padding: 5px 10px;
}
/* creative navbar */

.creative-dropdown {
  float: right;
  overflow: hidden;
}

.creative-dropdown .creative-dropbtn {
  border: none;
  outline: none;
  padding: 5px 10px;
  margin: 0px;
  font-size: 16px;
  font-family:'Open Sans', sans-serif;
  cursor: pointer;
}

.creative-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.creative-dropdown-content a {
  float: none;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.creative-dropdown:hover .creative-dropdown-content {
  display: block;
  cursor: pointer;
  color: #666666;
}
/*  Responsiveness with a dropdown menu */

@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
      background-color: white;
      color: black;
      padding: 16px;
      margin-top: 4px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      overflow: auto;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 100;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {
    color: #666666;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .dropdown:hover .dropbtn {
      color: #666666;
  }
}


/* small screen creative-dropdown */

.sm-creative-dropbtn {
  background-color: #fff;
  color: black;
  padding: 16px;
  margin-top: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

/* .sm-creative-dropbtn:hover, .sm-creative-dropbtn:focus {
  background-color: #2980B9;
} */

.sm-creative-dropbtn {
  background-color: #f9f9f9;
}

.sm-creative-dropdown {
  position: relative;
  display: inline-block;
  background-color: #f9f9f9;
}


.sm-creative-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.sm-creative-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sm-creative-dropdown-content a:hover {
  color: #666666;
}
.sm-creative-dropdown:hover .sm-creative-dropdown-content {
    display: block;
}
.sm-creative-dropdown:hover .sm-creative-dropbtn {
    color: #666666;
}
