.homepage-section {
  border-bottom: 1px solid;
  border-bottom-color: rgba(54, 54, 54, 0.8);
  padding: 10px;
  padding-bottom: 20px;
  display: block;
  overflow: auto;

  h1 {
    padding: 10px;
    margin-bottom: 30px;
  }
}

.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-posts h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-posts h2 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}


/* welcome section */

.homepage-section .intro {
  display: -webkit-flex;
  display: flex;
}

.homepage-section .intro .avatar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;

  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: auto;
    width: 100%;
  }
}



.homepage-section .intro .welcome {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 20px;
  margin-top: 25px;
  padding: 20px;
  background-color: #eee;

  h2, h1 {
    font-family: 'Caveat', cursive;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .homepage-section .intro {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

/* news section */
.homepage-section .recent-news .book-purchase {
  .img-container {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;


  }

  .img-container img {
    	width: 330px;
    	height: 220px;
    	padding: 10px;
    	transition: all 1s;
    }

  .img-container img:hover {
    	transform: scale(1.1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

  h1 {
    text-align: left;
  }

  h2 {
    text-align: center;
  }

  a {
    color: #176AA4;
  }
  a:hover {
    color: #367CAE;
  }

  .book-image {
    display: flex;
    display: -webkit-flex;

    img {
      width: 200px;
      height: 300px;
    }
  }

  footer {
    color: #666666;
    text-align: center;
    padding: 5px;
  }


}


/* recent article */


.heading:before {
  content:'';
  height: 5px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: block;
  background: #07123A;
}
.heading:after {
  content:'';
  height: 5px;
  width: 50px;
  border-radius: 5px;
  margin-top: 5px;
  display: block;
  background: #07123A;
}
