.past-projects h1 {
  text-align: center;
}

.projects-post {
  margin: 10px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(7, 18, 58, 0.8);
}

.project-title {
  float: left;
  padding: 10px;
  display: inline-block;
}

.projects-content {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 20px;
  overflow: auto;
  p {
    float: right;
    padding: 10px;
  }
  img {
    float: left;
  padding: 10px;
  }
}
