.past-projects h1 {
  text-align: center;
}

.project-posts {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;

  h2 {
    float: left;
  }

  p {
    float: right;
    padding: 10px;
  }
}

.projects-image {
    float: left;
  padding: 10px;
}
