---
layout: default
title: Home
---
<div class="homepage-section">
  <div class="intro">
    <div class="avatar">
      <img src="assets/img/ollylawson.jpg" alt="ollylawson">
    </div>
    <div class="welcome">
        <h1>Olly<br> Lawson</h1>
        <p><i>Purveyor of fine stories; <br>journalist, author, playwright, poet.</i>
          <br>
        </p>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="subscribe-section">
    <div class="subscribe">
      <h2> COMING SOON </h2>
      <br>
      <button class="btn">
        <span class="circle">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Subscribe</span>
      </button>
    </div>
    <div class="social-icons">
      {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="social-link" target="_blank" rel="noopener"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="recent-news">
    <div class="book-purchase">
      <div class="heading">
        <h1><b>Book Launch</b></h1>
      </div>
        <div class="book-cover">
          <div class="book-purchase">
            <h1>Notes from the Roof of the World: Afghanistan's Wakhan Corridor and Beyond</h1>
            <br>
            <div class="subscribe">
              <button onclick=" location.href='https://www.amazon.co.uk/Notes-Roof-World-Afghanistans-Corridor-ebook/dp/B07X8Q92YP/ref=sr_1_1?keywords=olly+lawson&qid=1570825342&sr=8-1' " class="btn">
                <span class="circle">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Amazon</span>
              </button>
            </div>
            <h2>Want a physical copy? Order Below.</h2>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn">
              <span class="circle">
                <span class="icon arrow"></span>
              </span>
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="9NRHU7THE3MH8">
              <input type="submit" value="PayPal" name="submit" title="PayPal – The safer, easier way to pay online!" class="button-text">
            </form>
          </div>
        <img src="assets/img/book-cover-page.jpg" alt="Afghanistan-book-cover">
      </div>
      <br>
      <div class="book-synopsis">
        <p>Afghanistan's Wakhan Corridor is the gateway to the Little Pamir: one of the most remote inhabited places in the world. Sandwiched between China, Pakistan and Tajikistan at over 4,000 metres, the Little Pamir is home to Kyrgyz nomad settlements and the stunning Lake Chaqmaqtin. It is also about to change forever, as Chinese authorities begin work on a highway that will bring the valley hurtling into the 21st century.
        </p>
        <p>Olly Lawson’s firsthand account—written in diary form—sheds light on a region rarely explored by Westerners. When he is let go from his job as a travel agent the day before departure, he suddenly finds the trip assuming an importance beyond mere adventure. Accompanied by two former colleagues, the trip sees them endure a grueling ten-day hike, nail-biting car journeys and an assortment of memorable characters.
        </p>
        <p>
        With soaring descriptions of the landscape and snippets of philosophical musings, these travel notes will take you from leafy London to the Roof of the World in no time.
        </p>
      </div>
      <div class="img-container">
        <img src="assets/img/Kyrgyz-ger-camp.jpg" class="book-image" alt="Kyrgyz-ger-camp">
        <img src="assets/img/river-crossing-Little-Pamir.jpg" class="book-image" alt="river-crossing-Little-Pamir">
        <img src="assets/img/Kyrgyz-woman-milking-yak.jpg" class="book-image" alt="Kyrgyz-woman-milking-yak">
      </div>
      <footer> &copy; Stuart Howarth 2019 </footer>
    </div>
  </div>
</div>


{% for post in site.tags.recent %}
<div class="homepage-section">
  <div class="recent-article">
    <div class="heading">
      <h1><b>Recent Article</b></h1>
    </div>
    <article>
      <a href="{{ site.github.url }}{{ post.url }}">
        <div class="featured-posts" {% if post.image %} style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
          <h2><span>{{ post.title }}</span></h2>
        </div>
      </a>
    </article>
  </div>
</div>
{% endfor %}
